@media (max-width: 768px) {

  /* 메인화면 */
  .MainScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .MainScreen-Container {
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    flex-direction: column;
    gap: 10px;
  }

  .MainScreen-Header {
    position: relative;
    width: 100%;
    margin-top: 0px;
    border: none;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3000;
  }

  .MainScreen-Header-Logo {
    align-self: center;
  }

  .MainScreen-Header-List {
    display: none;
  }

  .MainScreen-Header-List-Mobile-menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 32px;
    background-color: transparent;
    transition: all 0.3s;
  }

  .MainScreen-Header-List-Mobile-menu-icon.active {
    transform: none;
    position: absolute;
    display: flex;
    width: 66%;
    color: #000000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: rotate(360deg);
    background-color: #FFFFFF;
    box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px 10px 20px #FFFFFF;
  }

  .MainScreen-Header-List-Mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Pretendard-Medium';
    font-size: 17px;
    color: #000000;
  }

  .dropdown-content-Mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 3px;
    padding-left: 15px;
    font-family: 'Pretendard-Regular';
  }

  .dropdown-content-Mobile span {
    width: 220px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: inset 10px 10px 20px #FFFFFF95, inset -10px 10px 20px hsl(216, 84%, 76%);
    border-radius: 10px;
  }

  .MainScreen-Header-logout-Mobile {
    color: #A4A4A4;
  }

  .MainScreen-Box {
    width: 100%;
    height: auto;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }

  .MainScreen-LoginBox,
  .MainScreen-JoinBox {
    width: 95%;
  }

  .MainScreen-LoginBox {
    height: 380px;
  }

  .MainScreen-Form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .idInput,
  .pwInput,
  .pwCheck,
  .addressInput {
    width: 80%;
    height: 70px;
    font-family: 'Pretendard-Medium';
    font-size: 22px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 3;
  }

  .keepLogin {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  .LoginButton {
    width: 80%;
    height: 47px;
    border: none;
    border-radius: 30px;
    font-family: 'Pretendard-SemiBold';
    font-size: 20px;
  }

  .MainScreen-Box-after {
    margin-top: 0px;
    width: 95%;
    height: auto;
    justify-content: center;
  }

  .MainScreen-UserInfo {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    height: auto;
    padding-bottom: 33px;
    gap: 5px;
  }

  .MainScreen-toRecommand {
    display: none;
  }


  .MainScreen-UserAuthInfo {
    width: 100%;
  }

  .MainScreen-UserDetailInfo {
    width: 100%;
    height: 135px;
    border-radius: 18px;
    padding-top: 34px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 3;
  }

  .MainScreen-ProfileImg-Container,
  .MainScreen-ProfileImg-Container label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #C0C0C0;
  }

  .MainScreen-ProfileImg {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .MainScreen-ProfileAuth {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .MainScreen-UserName {
    font-family: 'Pretendard-Medium';
    font-size: 26px;
    color: #727272;
  }

  .MainScreen-UserName span {
    font-family: 'Pretendard-SemiBold';
    font-size: 30px;
    color: #C0C0C0;
  }

  .MainScreen-UserId {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    color: #A4A4A4;
  }

  .ProfileEdit {
    margin-top: 13px;
    width: 95px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #E6E6E6;
    font-family: 'Pretendard-Medium';
    font-size: 14px;
    color: #858585;
    cursor: pointer;
  }

  .ProfileEdit:hover {
    color: #FFFFFF;
    cursor: pointer;
  }

  .MainScreen-UserDetailInfo-Premium,
  .MainScreen-UserDetailInfo-AI {
    width: 70%;
  }

  .MainScreen-Image {
    display: none;
  }

  .About {
    display: none;
  }

  .MainScreen-SubInfo {
    display: none;
  }

  .paperPlane,
  .paperPlane2 {
    display: none;
  }

  .Footer {
    display: none;
  }

  .AdSlide {
    margin-top: 0px;
    position: relative;
    background-color: #00000095;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    height: 215px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    z-index: 3;
    font-family: PyeongChangPeace-Bold;
  }

  .AdSlide_Header {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: YClover-Bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .AdSlide_Header span {
    font-size: 18px;
    font-family: Pretendard-SemiBold;
  }

  .Adslide_controls {
    width: 100%;
    align-self: flex-end;
  }

  .flower1 {
    width: 50px;
    position: absolute;
    top: -20px;
    left: -20px;
    animation: 5s linear infinite rotate;
  }

  .flower2 {
    width: 50px;
    position: absolute;
    bottom: -20px;
    right: -20px;
    animation: 5s linear infinite rotate;
  }


  /* 컴포넌트 css */
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 73px;
    position: absolute;
    top: 0px;
    background-color: #001A4B;
    z-index: 10;
  }


  .Header-Logo {
    font-family: 'PyeongChangPeace-Bold';
    color: #FFFFFF;
    font-size: 32px;
    cursor: pointer;
  }

  .Header-Logo-1 {
    color: #FF6BF5;
  }

  .Header-Logo-2 {
    color: #FFD700;
  }

  .Header-Logo-3 {
    color: #44DA3C;
  }

  .Header-Logo-4 {
    color: #0075EA;
  }

  .Header-List {
    display: none
  }

  .Header-gpt,
  .Header-diary,
  .Header-mypage,
  .Header-logout {
    position: relative;
    width: 119px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .Header-logout:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  .Header-diary:hover,
  .Header-mypage:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  .Header-gpt:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  .Header-dropdown-content {
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    width: 200px;
    height: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 30px;
    color: #000000;
    background-color: #FFFFFF;
    z-index: 10 !important;
    border: none;
    border-radius: 20px;
  }

  .Header-dropdown-content span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    transition: background-color 0.2s;
  }

  .Header-dropdown-content span:hover {
    background-color: #f0f0f0;
  }

  .Header-diary:hover .Header-dropdown-content,
  .Header-gpt:hover .Header-dropdown-content {
    display: flex;
    flex-direction: column;
  }




  .PlanByAI-Header {
    width: 100%;
    margin-top: 80px;
    font-family: Pretendard-Bold;
    font-size: 32px;
    color: #fff;
  }

  .PlanByAI-InputBox{
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;

  }

  .PlanByAI-Calendar-Box {
    width: 80%;
  }

  .KakaoMap {
    width: 80%;
  }

  .PlanByAI-InputOthers {
    width: 80%;
  }

  .PlanByAI-OutputBox {
    width: 80%;
  }

  .PlanByAI-OutputBox-Button {
    flex-direction: column;
  }


  /*직접 계획하는 페이지 css*/

  .SelfPlan-Header {
    margin-top: 80px;
    width: 95%;
  }

  .SelfPlan-Body-Left {
    width: 100%;
    align-items: center;
  }

  .GPT-Prompt-Box {
    width: 80%;
  }

  .SelfPlan-Body-Right {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .Editor-Container {
    width: 80%;
    align-items: center;
  }

  .Editor-Container div {
    width: 100%;
  }

  .SelfPlanSave {
    margin-right: 0px;
  }

  .SelfPlan-Body {
    width: 100%;
    flex-direction: column;
  }
}