.PlanByAI {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.PlanByAI-Container {
    position: relative;
    background: linear-gradient(to bottom, #060755, #A4CEF9);
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PlanByAI-Header {
    width: 1137px;
    margin-top: 190px;
    font-family: 'Pretendard-Bold';
    font-size: 32px;
    color: #FFFFFF;
}

.PlanByAI-InputBox {
    margin-top: 15px;
    position: relative;
    width: 1137px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    gap: 25px;
    z-index: 2;
}

.PlanByAI-InputOthers {
    width: 482px;
    height: 450px;
    background-color: #FFFFFF95;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: scroll;
    overflow-x: hidden;
}

.PlanByAI-InputOthers-Header {
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #FFFFFF;
}

.PlanByAI-InputOthers-Body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PlanByAI-OutputBox {
    margin-top: 37px;
    position: relative;
    width: 1137px;
    min-height: 338px;
    background-color: #FFFFFF95;
    border-radius: 20px;
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;

}

.PlanByAI-OutputBox-Header {
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #000000;
}

.PlanByAI-OutputBox-GPTResult {
    width: 100%;
    background-color: #A4CEF9;
    border-radius: 20px;
    padding: 30px;
}

.PlanByAI-OutputBox-GPTResult pre {
    font-family: 'Pretendard-Medium';
    font-size: 17px;
    color: #000000;
}

.PlanByAI-OutputBox-Loading {
    width: 100%;
    background-color: #537BFF;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlanByAI-OutputBox-Button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.PlanByAI-OutputBox-Button button, #save {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.PlanByAI-OutputBox-Button button:hover, #save:hover {
    transform: scale(1.08);
}

#limit {
    background-color: #8ba2cc;
}

#custom {
    background-color: #556F9F;

}

#save {
    background-color: #3867BE;
}

/* 사용자 입력 버튼들 css */
.PlanByAI-InputOthers-box {
    font-family: 'Pretendard-Bold';
    width: 100%;
    height: 70px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-Container {
    display: flex;
}

#requestothersbox {
    min-height: 100px;
}

.PlanByAI-InputOthers-box-RequestOthers {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #e0e0e0;
    font-family: 'Pretendard-Regular';
    color: #000000;
    min-height: 50px;
    overflow: hidden;
    resize: none;
    padding: 15px;
}

.GeneratePlanButton {
    width: 100%;
    height: 40px;
    background-color: #328bdf;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.GeneratePlanButton:hover {
    transform: scale(1.03);
}
.option-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.option-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}