.Report {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Report-Container {
    position: relative;
    background: linear-gradient(to bottom, #060755, #A4CEF9);
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Report-Container-header {
    width: 1137px;
    margin-top: 190px;
    font-family: 'Pretendard-Bold';
    font-size: 32px;
    color: #FFFFFF;
}

.Report-Container-Body {
    width: 1137px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

@media (max-width: 720px) {
    .Report-Container-header {
        width: 95%;
        margin-top: 30px;
    }

    .Report-Container-Body{
        width: 95%;
        flex-direction: column;
    }


}