.SelfPlan {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.SelfPlan-Container {
    position: relative;
    background: linear-gradient(to bottom, #060755, #A4CEF9);
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SelfPlan-Container-Mobile {
    display: none;
}

.SelfPlan-Header {
    width: 1137px;
    margin-top: 190px;
    font-family: 'Pretendard-Bold';
    font-size: 32px;
    color: #FFFFFF;
}

.SelfPlan-Body {
    margin-top: 50px;
    width: 1137px;
    display: flex;
    gap: 50px;
    z-index: 3;
}

.SelfPlan-Body-Left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.GPT-Prompt-Box {
    width: 291px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF95;
    border-radius: 20px;
    padding: 20px;
}

.GptAnswer {
    font-family: 'Pretendard-Medium';
    color: #000000;
    font-size: 18px;
}

.GPT-Prompt-Box pre {
    color: #000000;
    background-color: #A4CEF9;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    overflow: auto;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
}

.GptIcon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.GptIcon-button {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 10px 20px 20px #FFFFFF, inset -20px -10px 20px #c9d9db;
    transition: all 0.3s ease;
}

.Gpt {
    font-family: 'Pretendard-Medium';
    color: #000000;
}

#GptIcon {
    width: 60px;
    height: 60px;
}

.GptIcon-button:hover {
    transform: scale(1.1);
}

#GptIcon:hover {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 720px) {
    .SelfPlan {
        width: 100vw !important;
        height: 100% !important;
    }

    .SelfPlan-Container {
        display: none;
    }

    .SelfPlan-Container-Mobile {
        width: 100vw;
        height: 100%;
        position: relative;
        background: linear-gradient(to bottom, #060755, #A4CEF9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;
    }

    #subtract {
        position: absolute;
        top: 0;
        width: 130%;
        z-index: 0;   
    }

    #pageName {
        font-family: 'Pretendard-Black';
        color: #FFFFFF;
        font-size: 32px;
    }

    #travelData2 {
        width: 100%;
        font-family: 'Pretendard-Black';
        color: #FFFFFF;
        font-size: 23px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }


    .SelfPlan-Header-Mobile {
        margin-top: 50px;
        margin-bottom: 60px;
        width: 80%;
        font-family: 'Pretendard-Bold';
        color: #FFFFFF;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    #SelfPlan-Header-Mobile-title {
        font-family: 'Pretendard-Bold';
        font-size: 32px;
        color: #FFFFFF;

    }

    #SelfPlan-Header-Mobile-currentStep {
        font-family: 'Pretendard-Regular';
        font-size: 15px;
        color: #FFFFFF;

    }

    .SelfPlan-Container-Step1 {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .StepCtrlButtons {
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .stepCtrlBtn {
        width: 49%;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 10px;
        font-family: 'Pretendard-Bold';
        color: #FFFFFF;
        font-size: 14px;
    }

    #prevCtrl {
    background-color: #8ba2cc;

    }

    #nextCtrl {
    background-color: #3867BE;

    }
}